################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CurrentWeatherTests/bin/Debug/net5.0
/CurrentWeatherTests/obj
/TEST/bin/Debug/net5.0
/TEST/obj
/TEST/appsettings.Development.json
